# Cartelle temporanee di PyInstaller e Python
build/
__pycache__/
*.pyc
*.spec

# File di ambiente o chiavi personali (sicurezza)
.env

# Nota: Non tracciamo dist/ perché l'exe lo metteremo nelle "Releases" di GitHub
dist/